<table>
    <tr>
        <td colspan="3">
            {position:nav-bar}
        </td>
    </tr>
    <tr>
        <td width="25%">
            {position:slide-left}
        </td>
        <td width="50%">
            <table>
                <tr>
                    <td width="65%">
                        {position:content-top}
                        {block:LANG_PAGE_BODY}
                        {position:content-bottom}
                    </td>
                </tr>
            </table>
        </td>
        <td width="25%">
            {position:slide-right}
        </td>
    </tr>
</table>