.blogo {
    background: url("../images/bookmakers.png") no-repeat scroll 0 16px transparent;
    width: 75px;
    height: 16px;
    display: block;
}

.blogo-square {
    display: block;
    width: 46px;
    height: 40px;
    background: transparent url('../images/bookmakers-square.png') 0 0 no-repeat
}

.l14 {
    background-position: 0 -105px !important
}

.l80 {
    background-position: 0 -735px !important
}

.l56 {
    background-position: 0 -609px !important
}

.l416 {
    background-position: 0 -1281px !important
}

.l417 {
    background-position: 0 -1302px !important
}

.l453 {
    background-position: 0 -1428px !important
}

.l20 {
    background-position: 0 -189px !important
}

.l27 {
    background-position: 0 -273px !important
}

.l476 {
    background-position: 0 -1596px !important
}

.l469 {
    background-position: 0 -1512px !important
}

.l3 {
    background-position: 0 -42px !important
}

.l16 {
    background-position: 0 -147px !important
}

.l419 {
    background-position: 0 -1344px !important
}

.l482 {
    background-position: 0 -1617px !important
}

.l32 {
    background-position: 0 -357px !important
}

.l140 {
    background-position: 0 -882px !important
}

.l113 {
    background-position: 0 -777px !important
}

.l429 {
    background-position: 0 -1365px !important
}

.l44 {
    background-position: 0 -462px !important
}

.l21 {
    background-position: 0 -210px !important
}

.l464 {
    background-position: 0 -1470px !important
}

.l446 {
    background-position: 0 -1386px !important
}

.l403 {
    background-position: 0 -1197px !important
}

.l24 {
    background-position: 0 -231px !important
}

.l43 {
    background-position: 0 -441px !important
}

.l76 {
    background-position: 0 -714px !important
}

.l26 {
    background-position: 0 -252px !important
}

.l30 {
    background-position: 0 -315px !important
}

.l2 {
    background-position: 0 -21px !important
}

.l392 {
    background-position: 0 -1134px !important
}

.l129 {
    background-position: 0 -840px !important
}

.l53 {
    background-position: 0 -567px !important
}

.l45 {
    background-position: 0 -483px !important
}

.l383 {
    background-position: 0 -1092px !important
}

.l468 {
    background-position: 0 -1491px !important
}

.l147 {
    background-position: 0 -903px !important
}

.l163 {
    background-position: 0 -987px !important
}

.l9 {
    background-position: 0 -84px !important
}

.l139 {
    background-position: 0 -861px !important
}

.l46 {
    background-position: 0 -504px !important
}

.l164 {
    background-position: 0 -1008px !important
}

.l31 {
    background-position: 0 -336px !important
}

.l1 {
    background-position: 0 0px !important
}

.l149 {
    background-position: 0 -924px !important
}

.l92 {
    background-position: 0 -756px !important
}

.l57 {
    background-position: 0 -630px !important
}

.l28 {
    background-position: 0 -294px !important
}

.l455 {
    background-position: 0 -1449px !important
}

.l73 {
    background-position: 0 -672px !important
}

.l381 {
    background-position: 0 -1071px !important
}

.l470 {
    background-position: 0 -1533px !important
}

.l390 {
    background-position: 0 -1113px !important
}

.l47 {
    background-position: 0 -525px !important
}

.l41 {
    background-position: 0 -420px !important
}

.l33 {
    background-position: 0 -378px !important
}

.l55 {
    background-position: 0 -588px !important
}

.l393 {
    background-position: 0 -1155px !important
}

.l18 {
    background-position: 0 -168px !important
}

.l414 {
    background-position: 0 -1260px !important
}

.l75 {
    background-position: 0 -693px !important
}

.l473 {
    background-position: 0 -1575px !important
}

.l485 {
    background-position: 0 -1638px !important
}

.l38 {
    background-position: 0 -399px !important
}

.l406 {
    background-position: 0 -1218px !important
}

.l70 {
    background-position: 0 -651px !important
}

.l49 {
    background-position: 0 -546px !important
}

.l411 {
    background-position: 0 -1239px !important
}

.l121 {
    background-position: 0 -798px !important
}

.l378 {
    background-position: 0 -1050px !important
}

.l472 {
    background-position: 0 -1554px !important
}

.l5 {
    background-position: 0 -63px !important
}

.l160 {
    background-position: 0 -966px !important
}

.l157 {
    background-position: 0 -945px !important
}

.l418 {
    background-position: 0 -1323px !important
}

.l451 {
    background-position: 0 -1407px !important
}

.l15 {
    background-position: 0 -126px !important
}

.l372 {
    background-position: 0 -1029px !important
}

.l397 {
    background-position: 0 -1176px !important
}

.l128 {
    background-position: 0 -819px !important
}

.bb14 {
    background-position: 0 -225px !important
}

.bb80 {
    background-position: 0 -1575px !important
}

.bb56 {
    background-position: 0 -1305px !important
}

.bb416 {
    background-position: 0 -2745px !important
}

.bb417 {
    background-position: 0 -2790px !important
}

.bb453 {
    background-position: 0 -3015px !important
}

.bb20 {
    background-position: 0 -405px !important
}

.bb27 {
    background-position: 0 -585px !important
}

.bb476 {
    background-position: 0 -3375px !important
}

.bb469 {
    background-position: 0 -3195px !important
}

.bb3 {
    background-position: 0 -90px !important
}

.bb16 {
    background-position: 0 -315px !important
}

.bb419 {
    background-position: 0 1000px !important
}

.bb482 {
    background-position: 0 -3420px !important
}

.bb32 {
    background-position: 0 -765px !important
}

.bb140 {
    background-position: 0 -1890px !important
}

.bb113 {
    background-position: 0 -1665px !important
}

.bb429 {
    background-position: 0 -2880px !important
}

.bb44 {
    background-position: 0 -990px !important
}

.bb21 {
    background-position: 0 -450px !important
}

.bb464 {
    background-position: 0 -3105px !important
}

.bb446 {
    background-position: 0 -2925px !important
}

.bb403 {
    background-position: 0 -2565px !important
}

.bb24 {
    background-position: 0 -495px !important
}

.bb43 {
    background-position: 0 -945px !important
}

.bb76 {
    background-position: 0 -1530px !important
}

.bb26 {
    background-position: 0 -540px !important
}

.bb30 {
    background-position: 0 -675px !important
}

.bb2 {
    background-position: 0 -45px !important
}

.bb392 {
    background-position: 0 -2430px !important
}

.bb129 {
    background-position: 0 -1800px !important
}

.bb53 {
    background-position: 0 -1215px !important
}

.bb45 {
    background-position: 0 -1035px !important
}

.bb383 {
    background-position: 0 -2340px !important
}

.bb468 {
    background-position: 0 -3150px !important
}

.bb147 {
    background-position: 0 -1935px !important
}

.bb163 {
    background-position: 0 -2115px !important
}

.bb9 {
    background-position: 0 -180px !important
}

.bb139 {
    background-position: 0 -1845px !important
}

.bb46 {
    background-position: 0 -1080px !important
}

.bb164 {
    background-position: 0 -2160px !important
}

.bb31 {
    background-position: 0 -720px !important
}

.bb1 {
    background-position: 0 0px !important
}

.bb149 {
    background-position: 0 -1980px !important
}

.bb92 {
    background-position: 0 -1620px !important
}

.bb57 {
    background-position: 0 -1350px !important
}

.bb28 {
    background-position: 0 -630px !important
}

.bb455 {
    background-position: 0 -3060px !important
}

.bb73 {
    background-position: 0 -1440px !important
}

.bb381 {
    background-position: 0 -2295px !important
}

.bb470 {
    background-position: 0 -3240px !important
}

.bb390 {
    background-position: 0 -2385px !important
}

.bb47 {
    background-position: 0 -1125px !important
}

.bb41 {
    background-position: 0 -900px !important
}

.bb33 {
    background-position: 0 -810px !important
}

.bb55 {
    background-position: 0 -1260px !important
}

.bb393 {
    background-position: 0 -2475px !important
}

.bb18 {
    background-position: 0 -360px !important
}

.bb414 {
    background-position: 0 -2700px !important
}

.bb75 {
    background-position: 0 -1485px !important
}

.bb473 {
    background-position: 0 -3330px !important
}

.bb485 {
    background-position: 0 -3465px !important
}

.bb38 {
    background-position: 0 -855px !important
}

.bb406 {
    background-position: 0 -2610px !important
}

.bb70 {
    background-position: 0 -1395px !important
}

.bb49 {
    background-position: 0 -1170px !important
}

.bb411 {
    background-position: 0 -2655px !important
}

.bb121 {
    background-position: 0 -1710px !important
}

.bb378 {
    background-position: 0 -2250px !important
}

.bb472 {
    background-position: 0 -3285px !important
}

.bb5 {
    background-position: 0 -135px !important
}

.bb160 {
    background-position: 0 -2070px !important
}

.bb157 {
    background-position: 0 -2025px !important
}

.bb418 {
    background-position: 0 -2835px !important
}

.bb451 {
    background-position: 0 -2970px !important
}

.bb15 {
    background-position: 0 -270px !important
}

.bb372 {
    background-position: 0 -2205px !important
}

.bb397 {
    background-position: 0 -2520px !important
}

.bb128 {
    background-position: 0 -1755px !important
}

.bb-triobet {
    background-position: 0 -5250px !important
}