.sicon {
    background: transparent url('../images/sports.png') no-repeat scroll 32px 79px;
    width: 16px;
    height: 16px;
    padding-left: 18px
}

.s3 {
    background-position: -1px 0 !important
}

.s1 {
    background-position: -1px -53px !important
}

.s2 {
    background-position: -1px -106px !important
}

.s4 {
    background-position: -1px -159px !important
}

.s6 {
    background-position: -1px -212px !important
}

.s5 {
    background-position: -1px -264px !important
}

.s9 {
    background-position: -1px -583px !important
}

.s7 {
    background-position: -1px -636px !important
}

.s8 {
    background-position: -1px -689px !important
}

.s10 {
    background-position: -1px -742px !important
}

.s12 {
    background-position: -1px -848px !important
}

.s11 {
    background-position: -1px -795px !important
}

.s14 {
    background-position: -1px -901px !important
}

.s15 {
    background-position: -1px -954px !important
}

.s13 {
    background-position: -1px -1007px !important
}

.s16 {
    background-position: -1px -1113px !important
}

.s17 {
    background-position: -1px -1166px !important
}

.s18 {
    background-position: -1px -1219px !important
}

.s19 {
    background-position: -1px -1272px !important
}

.s21 {
    background-position: -1px -1379px !important
}

.s22 {
    background-position: -1px -1325px !important
}

.s26 {
    background-position: -1px -1432px !important
}

.s28 {
    background-position: -1px -1693px !important
}

.s30 {
    background-position: -1px -1538px !important
}

.s36 {
    background-position: -1px -1640px !important
}

.sr3 {
    background-position: -1px 1px !important
}