/* Session messages ========================================================= */
.sess_messages {
    margin-bottom: 10px;
}

.sess_messages div {
    padding: 10px;
    padding-left: 30px;
    background: #f9f9f9;
    line-height: 16px;
    margin-bottom: 2px;
    color: #FFF;
}

.sess_messages div a {
    color: #ecf0f1;
}

.sess_messages div a:hover {
    color: #d35400;
}

.sess_messages .message_info {
    background: url("../images/icons/info.png") no-repeat 10px center #2980b9;
}

.sess_messages .message_success {
    background: url("../images/icons/accept.png") no-repeat 10px center #27ae60;
}

.sess_messages .message_error {
    background: url("../images/icons/error.png") no-repeat 10px center #e74c3c;
}

.sess_messages .message_info_in_page {
    color: #555;
    padding: 10px 15px;
}

.ui_message {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #E4F1FE;
    border-color: #2980b9;
    border-width: 1px;
    border-style: solid;
    border-left-width: 10px;
    color: #555;
}

.ui_message.ui_warning {
    background-color: #FDE3A7;
    border-color: #f39c12;
}

.ui_message.ui_error {
    background-color: #F1A9A0;
    border-color: #e74c3c;
}

#alert_wrap {
    box-sizing: border-box;
    overflow: hidden;
    width: 320px;
}

#alert_wrap .ui_message {
    margin-bottom: 0;
}

/* Indicators =============================================================== */

.loading {
    padding-left: 20px;
    background: url("../images/loader16.gif") no-repeat left center;
}

.loading-icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/loader16.gif") no-repeat left center;
}

.loading-panel {
    background: url("../images/loader24.gif") no-repeat center center;
}

.is_private, .is_closed {
    display: inline-block;
    cursor: help;
    width: 16px;
    height: 16px;
    background: url("../images/icons/eye.png") no-repeat;
}

.content_list_item .is_private, .widget_content_list .is_private, .content_list .is_private,
.content_list_item .is_closed, .widget_content_list .is_closed {
    height: 14px;
}

.is_closed {
    background: url("../images/icons/lock.png") no-repeat;
}

.is_online {
    background: #40d47e;
    color: #FFF;
    font-size: 11px;
    line-height: 15px;
    padding: 1px 6px;
    border-radius: 4px;
    display: inline-block;
}

/* Menu icons =============================================================== */

.icon-accept, .menu .lock .item {
    background-image: url("../images/icons/lock.png");
}

.icon-accept, .menu .accept .item {
    background-image: url("../images/icons/accept.png");
}

.icon-add, .menu .add .item {
    background-image: url("../images/icons/add.png");
}

.icon-edit, .menu .edit .item {
    background-image: url("../images/icons/edit.png");
}

.icon-delete, .menu .delete .item {
    background-image: url("../images/icons/delete.png");
}

.icon-save, .menu .save .item {
    background-image: url("../images/icons/save.png");
}

.icon-cancel, .menu .cancel .item {
    background-image: url("../images/icons/cancel.png");
}

.icon-key, .menu .key .item {
    background-image: url("../images/icons/key.png");
}

.icon-page_gear, .menu .page_gear .item {
    background-image: url("../images/icons/page_gear.png");
}

.icon-folder_add, .menu .folder_add .item {
    background-image: url("../images/icons/folder_add.png");
}

.icon-folder_edit, .menu .folder_edit .item {
    background-image: url("../images/icons/folder_edit.png");
}

.icon-folder_delete, .menu .folder_delete .item {
    background-image: url("../images/icons/folder_delete.png");
}

.icon-user_add, .menu .user_add .item {
    background-image: url("../images/icons/user_add.png");
}

.icon-user_delete, .menu .user_delete .item {
    background-image: url("../images/icons/user_delete.png");
}

.icon-group, .menu .group .item {
    background-image: url("../images/icons/group.png");
}

.icon-group_add, .menu .group_add .item {
    background-image: url("../images/icons/group_add.png");
}

.icon-group_delete, .menu group_delete .item {
    background-image: url("../images/icons/group_delete.png");
}

.icon-profile, .menu .profile .item {
    background-image: url("../images/icons/profile.png");
}

.icon-messages, .menu .messages .item {
    background-image: url("../images/icons/messages.png");
}

.icon-info, .menu .info .item {
    background-image: url("../images/icons/info.png");
}

.icon-blog, .menu .blog .item {
    background-image: url("../images/icons/blog.png");
}

.icon-settings, .menu .settings .item {
    background-image: url("../images/icons/settings.png");
}

.icon-cpanel, .menu .cpanel .item {
    background-image: url("../images/icons/cpanel.png");
}

.icon-more, .menu .more > .item {
    background-image: url("../images/icons/folders.png");
}

.icon-logout, .menu .logout .item {
    background-image: url("../images/icons/logout.png");
}

.icon-checklist, .menu .checklist .item {
    background-image: url("../images/icons/checklist.png");
}

.icon-images, .menu .images .item {
    background-image: url("../images/icons/images.png");
}

.icon-invites, .menu .invites .item {
    background-image: url("../images/icons/signature.png");
}

.icon-balance, .menu .balance .item {
    background-image: url("../images/icons/coin.png");
}

.icon-transfer, .menu .transfer .item {
    background-image: url("../images/icons/transfer.png");
}

.icon-coins_add, .menu .coins_add .item {
    background-image: url("../images/icons/coins_add.png");
}

.icon-coins_delete, .menu .coins_delete .item {
    background-image: url("../images/icons/coins_delete.png");
}

.icon-basket_put, .menu .basket_put .item {
    background-image: url("../images/icons/basket_put.png");
}

.icon-basket_remove, .menu .basket_remove .item {
    background-image: url("../images/icons/basket_remove.png");
}

.icon-basket, .menu .basket .item {
    background-image: url("../images/icons/basket.png");
}

.icon-newspaper_add, .menu .newspaper_add .item {
    background-image: url("../images/icons/newspaper_add.png");
}

.icon-newspaper_delete, .menu .newspaper_delete .item {
    background-image: url("../images/icons/newspaper_delete.png");
}

.icon-bell, .menu .bell .item {
    background-image: url("../images/icons/bell.png");
}

/* Misc icons =============================================================== */

.medal-icon-16 {
    width: 16px;
    height: 32px;
}

.medal1-16 {
    background: url("../images/icons/medal_gold.png") no-repeat center center;
}

.medal2-16 {
    background: url("../images/icons/medal_silver.png") no-repeat center center;
}

.medal3-16 {
    background: url("../images/icons/medal_bronze.png") no-repeat center center;
}

.medal-icon-32 {
    width: 32px;
    height: 64px;
}

.medal1-32 {
    background: url("../images/icons32/medal_gold.png") no-repeat center center;
}

.medal2-32 {
    background: url("../images/icons32/medal_silver.png") no-repeat center center;
}

.medal3-32 {
    background: url("../images/icons32/medal_bronze.png") no-repeat center center;
}

/* Misc Icons =============================================================== */

.medal-icon-16 {
    width: 16px;
    height: 32px;
}

.medal1-16 {
    background: url("../images/icons/medal_gold.png") no-repeat center center;
}

.medal2-16 {
    background: url("../images/icons/medal_silver.png") no-repeat center center;
}

.medal3-16 {
    background: url("../images/icons/medal_bronze.png") no-repeat center center;
}

.medal-icon-32 {
    width: 32px;
    height: 64px;
}

.medal1-32 {
    background: url("../images/icons32/medal_gold.png") no-repeat center center;
}

.medal2-32 {
    background: url("../images/icons32/medal_silver.png") no-repeat center center;
}

.medal3-32 {
    background: url("../images/icons32/medal_bronze.png") no-repeat center center;
}

/* Pills Menu =============================================================== */

.pills-menu,
.pills-menu li,
.pills-menu-small,
.pills-menu-small li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pills-menu {
    margin-bottom: 20px;
}

.pills-menu,
.pills-menu-small {
    overflow: hidden;
    clear: both;
}

.pills-menu li,
.pills-menu-small li {
    float: left;
    padding: 0 10px;
    border-radius: 3px;
    background: #ECF0F1;
}

.pills-menu li {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    margin-right: 12px;
}

.pills-menu-small li {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-right: 6px;
}

.pills-menu li.active,
.pills-menu-small li.active {
    background: #34495E;
    color: #FFF;
}

.pills-menu li a,
.pills-menu-small li a {
    color: #7f8c8d;
    text-decoration: none;
}

.pills-menu li a:hover,
.pills-menu-small li a:hover {
    color: #d35400;
}

.pills-menu li.active a,
.pills-menu-small li.active a {
    color: #FFF;
}

.pills-menu li .counter,
.pills-menu-small li .counter {
    color: #BDC3C7;
    font-size: 11px;
}

.pills-menu li.active .counter,
.pills-menu-small li.active .counter {
    color: #A3CAE0;
}

/* Tabs Menu =============================================================== */

.tabs-menu {
    margin-bottom: 20px;
    position: relative;
    clear: both;
}

.tabs-menu ul,
.tabs-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs-menu > ul {
    border-bottom: solid 1px #B3C2C9;
    height: 33px;
    clear: both;
}

.tabs-menu .tabbed li {
    float: left;
    font-size: 15px;
    margin-right: 3px;
    background: #FFF;
}

.tabs-menu .tabbed li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    border: solid 1px #FFF;
    border-bottom: transparent;
    height: 32px;
    line-height: 32px;
}

.tabs-menu .tabbed li a {
    color: #95a5a6;
}

.tabs-menu .tabbed li a:hover {
    background-color: #e1ebef;
    color: #34495e;
}

.tabs-menu .tabbed li.active a,
.tabs-menu .tabbed li.active a:hover {
    cursor: default;
    color: #34495e;
    border: solid 1px #B3C2C9;
    border-bottom: none;
    background-color: #FFF;
    margin: 1px 0 0 0;
}

.tabs-menu li a .counter {
    color: #34495e;
    font-size: 12px;
    margin-top: -15px;
    border-radius: 10px;
}

.tabs-menu li.more > .item {
    padding-right: 5px;
}

.tabs-menu li.more > .item > span {
    background-image: url("../images/icons/bullet_arrow_down.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 18px;
}

.tabs-menu li.active a .counter {
    color: #68809B;
}

.tabs-menu li a:hover .counter {
    color: #68809B;
}

.tabs-menu li.folder > ul {
    visibility: hidden;
    position: absolute;
    border: solid 1px #B3C2C9;
    float: none;
    margin-top: -1px;
    margin-left: 1px;
    z-index: 1500;
}

.tabs-menu li.folder > ul li {
    border: none;
    width: 100%;
    float: none;
}

.tabs-menu li.folder > ul li a {
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
}

.tabs-menu li.folder > ul li a:hover {
    color: #34495e;
    border: none !important;
}

.tabs-menu li.folder > ul li a span {
    padding: 0 10px;
}

.tabs-menu li.folder:hover > ul {
    visibility: visible;
}

.tabs-menu > select {
    display: none;
}

.controller_actions_menu {
    float: right;
    position: relative;

}

#body .controller_actions_menu ul.menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 300px;
    right: 0;
    border: 1px solid #dfe6ed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

#body .controller_actions_menu ul.menu li {
    padding: 3px 0;
    line-height: 100%;
}

.group_menu_title {
    background-color: #e5ebf1;
    background-image: url(../images/icons/menu.png);
    background-repeat: no-repeat;
    background-position: center right 11px;
    border-radius: 2px;
    color: #55677d;
    padding: 11px 39px 11px 16px;
    cursor: pointer;
    display: block;
}

.group_menu_title.loading {
    background-image: url(../images/loader16.gif);
}

.group_menu_title:hover, #body .controller_actions_menu > input:checked + .group_menu_title {
    background-color: #dfe6ed;
    border-radius: 2px 2px 0 0;
}

.controller_actions_menu > input {
    display: none;
}

#body .controller_actions_menu > input:checked + label + ul.menu {
    display: block;
}

#body section .list_actions_menu .menu a {
    padding: 4px 10px;
}

.list_actions_menu .group_menu_title {
    padding: 0;
    display: block;
    width: 38px;
    height: 28px;
    margin: 0 0 0 10px;
}

/* Panels =================================================================== */

.gui-panel {
    background: #F4F8FD;
    border: solid 1px #B8D6FB;
    margin: 20px 0;
    padding: 15px;
    color: #B3C2C9;
    box-sizing: border-box;
    clear: both;
}

.gui-panel h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.filter-panel {
    padding: 0;
}

.filter-panel .filter-link a {
    display: block;
    padding: 7px 5px;
    padding-left: 10px;
    text-decoration: none;
    color: #68809B;
}

.filter-panel .filter-link a:hover {
    background-color: #f4fafc;
}

.filter-panel .filter-link a span {
    padding-left: 20px;
    background: url("../images/icons/search.png") no-repeat left center;
}

.filter-panel .filter-container {
    padding: 15px;
    box-sizing: border-box;
    clear: both;
    position: relative;
}

.filter-close {
    font-size: 0.9em;
    line-height: 0.9em;
    position: absolute;
    top: 6px;
    right: 9px;
}

.filter-close a {
    color: #666;
}

.filter-panel .fields {
    box-sizing: border-box;
    clear: both;
}

.filter-panel .fields .title {
    color: #68809B;
    text-shadow: 0 1px 1px #fff;
    margin-bottom: 3px;
}

.filter-panel .input,
.filter-panel select {
    margin: 0;
}

.filter-panel select {
    padding: 3px 4px;
}

.filter-panel .fields .field {
    min-height: 50px;
    width: 49%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.filter-panel .fields .field:nth-child(even) {
    float: right;
}

.filter-panel .fields .field:nth-child(odd) {
    float: left;
}

.filter-panel .input_checkbox_list {
    overflow: hidden;
}

.filter-panel .input_checkbox_list label {
    float: left;
    margin-right: 5px;
    color: #34495e;
    font-size: 12px;
}

.filter-panel .buttons {
    overflow: hidden;
    clear: both;
    margin-top: 5px;
}

.filter-panel .buttons .button-submit {
    float: left;
    padding: 8px;
}

.filter-panel .buttons .link {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
}

.filter-panel .buttons .link a {
    color: #34495e;
}

.filter-panel .buttons .link a:hover {
    color: #d35400;
}

/* Lists ==================================================================== */

.striped-list {
}

.striped-list .item {
    padding: 10px 0;
    border-bottom: dashed 1px #EDEDED;
    clear: both;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.striped-list .item:last-child {
    border: none;
}

.striped-list .item .position,
.striped-list .item .icon,
.striped-list .item .title,
.striped-list .item .title-multiline,
.striped-list .item .actions {
    float: left;
    margin-right: 15px;
}

.striped-list .item .icon img {
    display: block;
}

.striped-list .item .position {
    text-align: center;
}

.striped-list .item .actions {
    float: right;
    margin-right: 0;
    color: #666;
}

.striped-list .item .actions:before {
    content: attr(data-notice_title);
    background-color: #2980b9;
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 10px;
}

.striped-list.list-16 .item {
    min-height: 16px;
    line-height: 16px;
}

.striped-list.list-32 .item {
    min-height: 32px;
    line-height: 32px;
}

.striped-list.list-48 .item {
    min-height: 48px;
    line-height: 48px;
}

.striped-list.list-64 .item {
    min-height: 64px;
    line-height: 64px;
}

.striped-list.list-32 .item .position {
    width: 16px;
    height: 32px;
}

.striped-list.list-64 .item .position {
    width: 32px;
    height: 64px;
}

.striped-list .item .title-multiline {
    line-height: 16px;
    float: none;
    padding-left: 45px;
}

.striped-list .rate_value {
    padding: 5px 10px;
    border: solid 1px #EDEDED;
    width: 40px;
    text-align: center;
    cursor: help;
}

.striped-list .rate_value.positive {
    color: green;
}

.striped-list .rate_value.negative {
    color: red;
}

.striped-list .rate_value.zero {
    color: #CCCCCC;
}

/* Pagination =============================================================== */

.pagebar {
    clear: both;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.pagebar_title {
    color: #34495e;
    margin: 5px;
}

.pagebar_page {
    margin: 2px;
    padding: 6px;
}

.pagebar_current {
    background-color: #34495e;
    color: #FFF;
    margin: 3px;
    padding: 6px;
}

.pagebar_nav {
    margin-right: 15px;
}

.pagebar_nav .disabled {
    color: #BDC3C7;
}

.pagebar_nav .pagebar_page:first-child {
    margin-left: 0;
    margin-right: 5px;
}

.pagebar_nav .pagebar_page {
    padding: 6px 0;
}

.pagebar_pages .pagebar_page:hover {
    background: #ecf0f1;
    text-decoration: none;
    color: #34495e;
}

.pagebar_notice {
    display: inline-block;
    font-size: 12px;
    color: #BDC3C7;
    margin-left: 20px;
}

/* Forms and Inputs ========================================================= */

form .field {
    margin-bottom: 6px;
}

form .field:last-child {
    margin-bottom: 0;
}

form fieldset {
    padding: 10px 15px 15px 15px;
    border: solid 1px #B3C2C9;
    margin-bottom: 12px;
}

form fieldset.highlight {
    background: #F4F8FD;
}

form fieldset legend {
    color: #34495e;
    font-weight: bold;
}

form .label {
    padding: 5px 0;
}

form .field label {
    display: block;
    padding: 3px 0;
    font-size: 14px;
    color: #68809B;
}

form .field label > input[type=checkbox] {
    position: relative;
    bottom: -1.3px;
}

.filter-panel form .field label > input[type=checkbox] {
    bottom: -1.5px;
}

form .field_error .error_text {
    font-size: 12px;
    color: #c0392b;
    float: right;
    margin-top: 8px;
}

form #f_slug.field_error .error_text {
    float: none;
}

.input {
    line-height: normal;
}

.input,
.date-input,
.city-input,
.textarea,
select {
    border: solid 1px #aaa;
    padding: 4px;
    font-size: 14px;
    box-shadow: inset 0 1px 2px #DDD;
    color: #333;
    outline: none;
    box-sizing: border-box;
    height: 27px;
    line-height: 25px;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    transition: box-shadow ease-in-out .15s;
}

.input:focus,
.textarea:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input,
.textarea,
select {
    width: 100%;
}

.textarea {
    height: 200px;
    resize: vertical;
}

.date-input {
    width: 90px;
}

.input-small {
    width: 65px !important;
}

.input-number {
    width: 110px !important;
}

.input-number-units {
    margin-left: 5px;
}

.city-input {
    display: inline-block;
    margin-bottom: 2px;
    background: #FFF;
    line-height: 16px;
    height: 26px;
    padding: 4px 2px;
}

.city-input span {
    padding-right: 20px;
    padding-left: 2px;
}

.city-input a, .input_link_block {
    background: #68809B;
    color: #FFF;
    text-decoration: none;
    padding: 1px 10px;
}

.city-input a:hover, .input_link_block:hover {
    background: #34495e;
}

.input_link_block {
    line-height: 28px;
    display: inline-block;
    border-radius: 4px;
}

.input_link_block:hover {
    color: #FFF;
}

form .field_error .input,
form .field_error .textarea,
form .field_error .city-input,
form .field_error select {
    border: solid 1px #c0392b;
}

form input.error,
form textarea.error {
    border: solid 1px #c0392b;
}

form .hint {
    color: #999;
    font-size: 12px;
    margin-top: 0px;
}

form .input-prefix-suffix .input {
    display: inline-block;
    width: 300px;
    float: left;
    border-radius: 0;
    height: 26px;
}

form .input-prefix-suffix .prefix,
form .input-prefix-suffix .suffix {
    height: 16px;
    padding: 4px 8px;
    display: inline-block;
    float: left;
    color: #666;
    background: #f9f9f9;
    border: solid 1px #AAA;
    box-sizing: initial;
}

form .input-prefix-suffix .prefix {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

form .input-prefix-suffix .suffix {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

form .input-prefix-suffix:after {
    clear: both;
    content: '';
    display: block;
}

input.button-submit,
input.button {
    padding: 7px 10px;
    line-height: 100%;
    border-radius: 3px;
    cursor: pointer;
    width: auto;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    vertical-align: middle;
    background: #2980b9;
    border: none;
    transition: background ease-in-out .15s;
}

input.button-submit:hover,
input.button:hover {
    background: #3498db;
}

input.button.button-cancel {
    background: #95a5a6;
}

input.button.button-cancel:hover {
    background: #7f8c8d;
}

input.button-small {
    padding: 4px 10px;
}

form .ft_captcha {
    overflow: hidden;
    margin-bottom: 0;
}

form .ft_captcha input {
    width: 100px;
}

form .ft_captcha .captcha {
    float: left;
    margin-right: 10px;
}

form .ft_captcha .code {
    float: left;
}

form .ft_file .value {
    font-size: 14px;
    margin-top: 5px;
}

form .ft_file .value .name {
    padding-left: 20px;
    background: url("../images/icons/file.png") no-repeat;
}

form .ft_file .value .size {
    margin-left: 5px;
    font-size: 12px;
    color: #999;
}

form .ft_file .value .delete {
    margin-left: 15px;
}

form .ft_date select {
    width: 50px;
    padding: 2px;
}

form .ft_listmultiple.field_error .input_checkbox_list {
    border: solid 1px #c0392b;
}

form .ft_parent {
    overflow: hidden;
}

form .ft_parent ul.items,
form .ft_parent ul.items li {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

form .ft_parent ul.items {
    float: left;
    margin-right: 10px;
}

form .ft_parent ul.items li {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
    padding: 4px 8px;
    color: #68809B;
    background: #F4F8FD;
    border: solid 1px #B8D6FB;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
}

form .ft_parent ul.items li a {
    width: 16px;
    height: 12px;
    margin-right: -4px;
    display: inline-block;
    background: url(../images/icons/close.png) no-repeat left top;
}

form .ft_parent ul.items li a:hover {
    width: 16px;
    height: 12px;
    display: inline-block;
    background: url(../images/icons/close.png) no-repeat right top;
}

form .ft_parent a.add {
    height: 24px;
    line-height: 24px;
    padding-left: 20px;
    background: url("../images/icons/add.png") no-repeat left center;
    font-size: 12px;
}

.symbols_count {
    font-size: 12px;
    margin: 3px 0 0 0;
    display: none;
}

.symbols_count > span {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 3px 0 0;
    color: #7f8c8d;
}

.symbols_count .symbols_num {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    color: #2980b9;
    cursor: pointer;
    transition: opacity 0.3s;
}

.symbols_count .symbols_num:hover {
    opacity: 0.8;
}

.symbols_count .overflowing, .symbols_count .overflowing_min {
    background-color: #e74c3c;
    color: #FFF;
    border-color: #c0392b;
}

.field.reguired_field > label::after {
    content: '*';
    color: #e74c3c;
    padding-left: 5px;
}

.select_deselect {
    margin: 10px 0 0 5px;
}

.select_deselect a {
    text-decoration: none;
    margin: 0 10px 0 0;
    font-size: 13px;
}

.is_collapsed {
    transition: all 0.3s ease;
}

.is_collapse {
    position: relative;
    background: #ecf0f1;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    cursor: pointer;
    padding-left: 10px;
}

.is_collapse > legend {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    left: 0;
}

.is_collapsed > legend:before {
    content: '+';
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 16px;
}

.is_collapsed.do_expand > legend:before {
    content: '-';
}

.is_collapsed.do_expand > legend {
    cursor: pointer;
}

.is_collapse > .field {
    display: none;
}

/* ========================================================================== */

.input-users-list {
    width: 350px;
    padding: 5px;
    border: solid 1px #BDC3C7;
    border-radius: 5px;
    max-height: 400px;
    overflow: auto;
}

.input-users-list ul,
.input-users-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.input-users-list .profile {
    padding: 10px 0;
    border-bottom: solid 1px #EDEDED;
    clear: both;
    overflow: hidden;
}

.input-users-list .profile:last-child {
    border: none;
}

.input-users-list .profile div {
    float: left;
    margin-right: 15px;
    height: 32px;
    line-height: 32px;
}

.input-users-list .profile .name {
    height: 32px;
    line-height: 32px;
}

/* Ajax Uploader ============================================================ */

.qq-uploader {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.qq-upload-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #FFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFF;
    box-shadow: inset 0px 1px 0px 0px #FFF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #EDEDED));
    background: -moz-linear-gradient(center top, #f9f9f9 5%, #EDEDED 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#EDEDED');
    background-color: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    display: inline-block;
    color: #666666;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #FFF;
}

.qq-upload-button-hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(center top, #EDEDED 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#f9f9f9');
    background-color: #EDEDED;
}

.qq-upload-button-focus {
    position: relative;
    top: 1px;
}

.qq-upload-button:active {
    position: relative;
    top: 1px;
}

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 45px;
    z-index: 2;
    background: #2ecc71;
    text-align: center;
    color: #FFF;
    display: block;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 14px;
}

.upload .qq-upload-drop-area span {
    top: 12px;
    font-size: 12px;
}

.qq-upload-drop-area-active {
    background: #3498db;
}

.qq-upload-list {
    margin: 15px 0 0 0;
    padding: 0;
}

.qq-upload-list li {
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 15px;
    font-size: 13px;
    list-style: none;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-list:empty {
    display: none;
}

.qq-upload-file {
}

.qq-upload-spinner {
    display: inline-block;
    background: url("../images/loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size, .qq-upload-cancel {
    font-size: 11px;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

/* Rating Widget ============================================================ */

.rating_widget .arrow,
.rating_widget .score {
    float: left;
    height: 15px;
}

.rating_widget .score {
    margin: 0 5px;
    cursor: help;
    font-weight: bold;
}

.rating_widget .score .positive {
    color: green;
}

.rating_widget .score .negative {
    color: red;
}

.rating_widget .score .clickable {
    cursor: pointer;
}

.rating_widget .score.loading > * {
    display: none;
}

.rating_widget .score.loading {
    padding-left: 16px;
}

.rating_widget .arrow span,
.rating_widget .arrow a {
    display: block;
    width: 11px;
    height: 15px;
    background: url("../images/icons/vote.gif") no-repeat;
}

.rating_widget .arrow a {
    cursor: pointer;
}

.rating_widget .up a {
    background-position: 0 -15px;
}

.rating_widget .up a:hover {
    background-position: 0 0;
}

.rating_widget .down a {
    background-position: -11px -15px;
}

.rating_widget .down a:hover {
    background-position: -11px 0;
}

.rating_widget .up .disabled {
    background-position: -22px 0;
}

.rating_widget .down .disabled {
    background-position: -22px -15px;
}

/* Rating info ============================================================== */

#rating_info_window {
    padding: 20px;
}

.rating_info_list .item {
    padding: 6px 0;
    margin: 2px 0;
    border-bottom: dashed 1px #EDEDED;
    min-width: 250px;
    overflow: hidden;
}

.rating_info_list .item:last-child {
    border: none;
}

.rating_info_list .item .score {
    display: inline-block;
    float: left;
    border-radius: 4px;
    color: #FFF;
    min-width: 25px;
    text-align: center;
    margin-right: 10px;
}

.rating_info_list .item .score.positive {
    background-color: green;
}

.rating_info_list .item .score.negative {
    background-color: red;
}

.rating_info_list.loading-panel {
    background-color: #F4F8FD;
    background-position: center center;
    border-radius: 5px;
}

.rating_info_list.loading-panel .item {
    visibility: hidden;
}

.rating_info_pagination {
    margin-top: 20px;
    font-size: 12px;
}

.rating_info_pagination a {
    display: inline-block;
    padding: 0 4px;
    text-decoration: none;
    color: #34495e;
    border-radius: 4px;
}

.rating_info_pagination a:hover {
    background-color: #EDEDED;
}

.rating_info_pagination a.active,
.rating_info_pagination a.active:hover {
    color: #FFF;
    background-color: #34495e;
}

/* Comments Widget ========================================================== */
#comments_widget .bad {
    transition: all 0.5s ease;
}

#comments_widget .bad:hover {
    opacity: 1;
}

.bad6 {
    opacity: .1;
}

.bad5 {
    opacity: .2;
}

.bad4 {
    opacity: .35;
}

.bad3 {
    opacity: .5;
}

.bad2 {
    opacity: .65;
}

.bad1 {
    opacity: .8;
}

#tab-vk {
    margin: 20px 0 0 0;
}

#comments_widget {
    margin: 20px 0 0 0;
}

.no_comments {
    margin: 15px 0;
}

#comments_widget .track {
    font-size: 12px;
    color: #999;
    text-align: right;
}

#comments_widget .track label {
    display: block;
    line-height: 30px;
}

#comments_widget .track input {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.track + #comments_refresh_panel + #comments_list {
    margin: -15px 0 0 0;
}

#comments_widget #comments_add_link {
    margin: 10px 0;
    padding-left: 20px;
    background: url("../images/icons/comment.png") no-repeat left center;
}

#comments_widget #comments_add_link a {
    font-size: 14px;
}

#comments_widget #comments_add_form textarea {
    height: 100px;
    margin-bottom: 4px;
}

#comments_widget #comments_add_form .loading {
    display: none;
}

#comments_widget #comments_add_form .author_data {
    margin-bottom: 8px;
}

#comments_widget #comments_add_form .author_data .field {
    overflow: hidden;
}

#comments_widget #comments_add_form .author_data .field label {
    float: left;
    width: 140px;
    height: 20px;
    line-height: 20px;
}

#comments_widget #comments_add_form .author_data .field .input {
    width: 99%;
    max-width: 200px;
    min-width: 50px;
}

#comments_widget #comments_refresh_panel {
    display: block;
    width: 50px;
    height: 35px;
    position: fixed;
    z-index: 100;
    right: 0px;
    top: 45%;
    background: url("../images/loader24.gif") no-repeat center center #B3C2C9;
}

#comments_widget #comments_refresh_panel a {
    display: block;
    width: 50px;
    height: 35px;
    background: url("../images/icons32/update-black.png") no-repeat center center #B3C2C9;
}

#comments_widget #comments_refresh_panel a:hover {
    background-color: #e1ebef;
}

.no_approved {
    display: none;
}

#comments_list .comment {
    overflow: hidden;
    border-radius: 2px;
    padding: 10px 0;
    margin: 4px 0;
}

#comments_list .comment:first-child {
    margin-top: 0;
}

#comments_list .comment.selected-comment:first-child {
    margin-top: 13px;
}

#comments_list.striped-list .comment {
    padding-bottom: 15px;
}

#comments_list.striped-list .comment:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#comments_list .selected-comment {
    padding-right: 10px;
    box-shadow: 5px 5px 7px #B3C2C9;
}

#comments_list .comment .info,
#comments_list .comment .body {
    overflow: hidden;
    clear: both;
}

#comments_list .comment .info {
    margin-bottom: 6px;
}

#comments_list .comment .info div {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

#comments_list .comment .info .rating {
}

#comments_list .comment .info .rating .buttons {
    float: right;
    margin-left: 5px;
}

#comments_list .comment .info .rating a {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../images/comment_vote.png") no-repeat;
}

#comments_list .comment .info .rating .value {
    float: left;
    font-weight: bold;
}

#comments_list .comment .info .rating a.rate-up {
    background-position: 0 0;
}

#comments_list .comment .info .rating a.rate-up:hover {
    background-position: 0 -13px;
}

#comments_list .comment .info .rating a.rate-down {
    background-position: -13px 0;
}

#comments_list .comment .info .rating a.rate-down:hover {
    background-position: -13px -13px;
}

#comments_list .comment .info .name .user {
    color: #375D81;
}

#comments_list .comment .info .name .user:hover {
    color: #d35400;
}

#comments_list .comment.is_topic_starter .info .name .user {
    color: #d35400;
}

#comments_list .comment.is_topic_starter .info .name .user:hover {
    color: #e67e22;
}

#comments_list .comment .info .name .guest_name {
    font-weight: bold;
}

#comments_list .comment .info .name .subject {
    color: #4096EE;
}

#comments_list .comment .info .name .subject:hover {
    color: #d35400;
}

#comments_list .comment .info .date {
    color: #999;
}

#comments_list .comment .nav a {
    text-decoration: none;
    margin-right: 3px;
    color: #BDC3C7;
}

#comments_list .comment .nav a:hover {
    color: #d35400;
}

#comments_list .comment .nav .scroll-down {
    display: none;
}

#comments_list .comment .body .avatar {
    float: left;
    padding: 2px;
    border: solid 1px #999;
    position: relative
}

#comments_list .comment .body .avatar.comment_user_online {
    border-left-color: #27ae60;
    border-left-width: 2px;
}

#comments_list .comment .body .avatar img, #comments_list .comment .body .avatar a {
    display: block;
}

#comments_list .comment .body .avatar:after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 14px;
    background: url("../images/comment_arrow.png") no-repeat 0px 0px;
    right: -10px;
    top: 8px;
}

#comments_list .comment .content {
    color: #333;
    padding-left: 10px;
    padding-top: 4px;
    position: relative;
    overflow: hidden;
}

#comments_list .comment .content img {
    max-width: 100%;
}

#comments_list .comment .content .links {
    padding: 4px 0;
    font-size: 12px;
}

#comments_list .comment .content .links a {
    font-size: 11px;
    color: #999;
    border-bottom: dashed 1px #999;
    text-decoration: none;
    margin-right: 6px;
}

#comments_list .comment .content .links a:hover {
    color: #d35400;
    border-bottom: dashed 1px #d35400;
}

#comments_list .comment .deleted {
    padding: 5px 15px;
    background: #F9F9F9;
    color: #666;
    font-style: italic;
    border-radius: 6px;
    margin-right: 6px;
}

#comments_widget .login_to_comment {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

#comments_list .content ul li, #comments_list .preview_box ul li {
    list-style-type: disc;
    margin-left: 25px;
}

#comments_list .content ol, #comments_list .preview_box ol {
    padding-left: 25px;
}

#comments_list .content ol li, #comments_list .preview_box ol li {
    list-style-type: decimal;
}

/* Profile Wall Widget ====================================================== */

#wall_widget {
    clear: both;
    margin-top: 15px;
    border-top: solid 1px #B3C2C9;
}

#wall_widget .title_bar {
    overflow: hidden;
}

#wall_widget .title_bar .title {
    float: left;
    margin-bottom: 0px;
}

#wall_widget .title_bar #wall_add_link {
    float: right;
    margin-top: 23px;
    padding-left: 20px;
    background: url("../images/icons/edit.png") no-repeat left center;
}

#wall_widget #wall_add_form, #comments_widget #comments_add_form {
    display: none;
    margin: 15px 0;
    background: #ecf0f1;
    padding: 15px;
    border-radius: 4px;
}

#wall_widget #wall_add_form textarea {
    height: 100px;
    margin-bottom: 4px;
}

#wall_widget #wall_add_form .preview_box, #comments_widget #comments_add_form .preview_box {
    margin-bottom: 15px;
    padding: 10px;
    border: solid 2px #B3C2C9;
    border-radius: 4px;
    background: #FFF;
    display: none;
    transition: all 0.5s ease;
}

.preview_box.highlight {
    border-color: #2980b9 !important;
    box-shadow: 0 0 5px #2980b9;
}

#wall_widget #wall_add_form .loading {
    display: none;
}

#wall_widget #entries_list {
    margin-top: 20px;
}

#wall_widget #entries_list .entry {
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: dashed 1px #B3C2C9;
}

#wall_widget #entries_list .entry:last-child {
    border: none;
    margin-bottom: 0;
}

#wall_widget #entries_list .entry .info,
#wall_widget #entries_list .entry .body {
    overflow: hidden;
}

#wall_widget #entries_list .entry .info {
    margin-bottom: 6px;
}

#wall_widget #entries_list .entry .info div {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

#wall_widget #entries_list .entry .info a {
    color: #999;
}

#wall_widget #entries_list .entry .info a:hover {
    color: #d35400;
}

#wall_widget #entries_list .entry .info .name .user {
    color: #375D81;
}

#wall_widget #entries_list .entry .info .name .user:hover {
    color: #d35400;
}

#wall_widget #entries_list .entry .info .date {
    color: #999;
}

#wall_widget #entries_list .entry .body {
}

#wall_widget #entries_list .entry .body .avatar {
    float: left;
    padding: 2px;
    border: solid 1px #999;
}

#wall_widget #entries_list .entry .body .avatar img {
    display: block;
}

#wall_widget #entries_list .entry .content {
    color: #333;
    padding-left: 15px;
    padding-top: 4px;
    background: url("../images/comment_arrow.png") no-repeat 0px 6px;
    position: relative;
    z-index: 2;
    margin-left: 37px;
}

#wall_widget #entries_list .entry .content .text img {
    max-width: 100%;
}

#wall_widget #entries_list .entry .links {
    font-size: 12px;
    margin-top: 10px;
}

#wall_widget #entries_list .entry .links.has_replies {
    background: url("../images/icons/comment-small.png") no-repeat left center;
    padding-left: 20px;
}

#wall_widget #entries_list .entry .links a {
    font-size: 11px;
    color: #7f8c8d;
    border-bottom: dashed 1px #BDC3C7;
    text-decoration: none;
    margin-right: 6px;
}

#wall_widget #entries_list .entry .links a:hover {
    color: #d35400;
    border-bottom: dashed 1px #d35400;
}

#wall_widget #entries_list .entry .links a.get_replies {
    font-weight: bold;
    color: #34495e;
    border-bottom: dashed 1px #34495e;
}

#wall_widget #entries_list .entry .links a.get_replies:hover {
    color: #d35400;
    border-bottom-color: #d35400;
}

#wall_widget #entries_list .replies_loading {
    margin-top: 12px;
    margin-bottom: 10px;
    color: #666;
    display: none;
}

#wall_widget #entries_list .replies {
    clear: both;
}

#wall_widget #entries_list .replies .entry {
    font-size: 12px;
    padding: 10px;
    border-left: solid 4px #ddd;
    border-bottom: none;
    margin: 0;
    margin-top: 10px;
    margin-left: 18px;
}

#wall_widget #entries_list .replies .entry:hover {
    border-left-color: #BDC3C7;
}

#wall_widget #entries_list .replies .entry:hover .avatar {
    border-color: #BDC3C7;
}

#wall_widget #entries_list .replies .entry .info {
    margin: 0;
    padding: 0;
    padding-left: 0px;
    margin-bottom: 3px;
}

#wall_widget #entries_list .replies .entry .content {
    background: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

#wall_widget #entries_list .replies .entry .avatar {
    float: right;
    border: solid 1px #ddd;
}

#wall_widget #entries_list .show_more {
    margin-top: -14px;
}

#wall_widget #entries_list .show_more a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #E1EBEF;
    color: #BDC3C7;
    text-decoration: none;
}

#wall_widget #entries_list .show_more a:hover {
    background: #B3C2C9;
}

/* Private Messaging Window ================================================= */

#pm_window {
    overflow: hidden;
    min-height: 120px;
    box-sizing: border-box;
    width: 960px;
    max-width: 100%;
}

#pm_window .notice {
    margin: 25px 0;
    text-align: center;
    font-size: 1.3em;
}

.layout {
    box-sizing: border-box;
    overflow: hidden;
    height: 700px;
}

#pm_window .right-panel,
#pm_window .left-panel {
    float: left;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#pm_window .right-panel {
    width: 25%;
    overflow: hidden;
    box-shadow: 1px 0px 1px #DDD;
}

#pm_window .left-panel {
    width: 75%;
    padding-left: 1px;
}

#pm_window .contacts {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 51px);
    overflow-y: auto;
}

#pm_window .contacts .contact {
    overflow: hidden;
    box-shadow: 0px 0px 1px #EEE;
}

#pm_contact {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#pm_window .contacts .contact a {
    display: block;
    overflow: hidden;
    padding: 9px;
    color: #000;
    text-decoration: none;
    position: relative;
}

#pm_window .contacts .contact a span {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

#pm_window .contacts .contact img, #pm_contact .overview a img {
    border-radius: 50%;
    display: block;
}

.peer_online:after,
.peer_no_online:after {
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    height: 8px;
    width: 8px;
    content: '';
    position: absolute;
    border-radius: 50%;
}

.peer_online:after {
    background-color: #8ac176;
}

.peer_no_online:after {
    background-color: #d35400;
}

#pm_window .contacts .contact a:hover {
    background: #95a5a6;
    color: #FFF;
}

#pm_window .contacts .contact a.selected {
    background: #3498db;
    color: #FFF;
}

#pm_window .contacts .contact a .counter {
    height: 12px;
    line-height: 12px;
    padding: 2px 5px;
    background: #e67e22;
    border-radius: 50%;
    color: #FFF;
    font-size: 12px;
    position: absolute;
    right: 4px;
    bottom: 6px;
}

#pm_window .contacts .contact a > strong {
    font-weight: normal;
    font-size: 11px;
    color: #CCC;
    position: absolute;
    right: 9px;
    top: 6px;
}

/* ========================================================================== */

#pm_contact .overview, #user_search_panel {
    overflow: hidden;
    padding: 9px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDD;
    height: 50px;
}

#user_search_panel {
    padding: 10px;
    line-height: 30px;
    background-color: #ecf0f1;
}

#user_search_panel input {
    padding-left: 24px;
    background: url(../images/icons/search-glyph.png) no-repeat 4px center #FFF;
}

#pm_contact #contact_toggle {
    background: url(../images/modal/controls.png) no-repeat center -1px;
    width: 24px;
    cursor: pointer;
    display: none;
}

#pm_contact .overview .user_date_log {
    display: inline-block;
    line-height: 32px;
    font-size: 12px;
    color: #AAA;
}

#pm_contact .overview a {
    border-left: medium none;
    border-right: medium none;
    color: #000;
    float: left;
    line-height: 32px;
    overflow: hidden;
}

#pm_contact .overview a span, #pm_contact #contact_toggle {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

#pm_contact #contact_toggle {
    width: 32px;
}

#pm_contact .actions {
    float: right;
    line-height: 28px;
}

#pm_contact .toogle-actions {
    display: none;
}

#pm_contact .composer {
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #DDD;
}

#pm_contact .composer .editor textarea {
    height: 55px;
    resize: none;
}

#pm_contact .composer .buttons {
    text-align: right;
    position: relative;
    box-sizing: border-box;
}

#error_wrap {
    position: absolute;
    left: 0;
    top: 1px;
    padding: 6px;
    background: #c0392b;
    color: #FFF;
    display: none;
}

.msg_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.6;
    top: 0;
    left: 0;
}

.confirm_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 110px;
    margin: -55px 0 0 -180px;
}

.ui_message .buttons {
    margin: 10px 0 0 0;
}

.ui_message .buttons .button {
    margin: 0px 10px 0 0;
}

#pm_contact .composer .sending {
    background: url("../images/loader16.gif") no-repeat left center;
}

#pm_contact .composer .ignored_info {
    display: block;
    padding: 10px 6px;
    color: #999;
    font-style: italic;
    line-height: 97px;
}

.ctrenter_hint {
    font-size: 12px;
    color: #CCC;
    display: inline-block;
    margin: 0 10px 0 0;
}

#pm_contact .composer .ignored_info .button {
    margin-left: 10px;
}

#pm_chat .content {
    background: #DAE2ED;
    padding: 7px 10px;
    border-radius: 5px;
    min-width: 30%;
    border: 1px solid #cdd5e0;
    box-sizing: border-box;
    position: relative;
    margin-left: 50px;
}

#pm_chat .content.is_can_select {
    cursor: pointer;
}

#pm_chat .content.selected {
    border-color: #3498db !important;
    box-shadow: 0px 0px 1px #3498db;
}

.button_hide {
    display: none;
}

#pm_chat .message .content > span, #pm_chat .message .content > span a {
    color: #AAA;
}

#pm_chat .message .content > span a:hover {
    color: #27ae60;
}

#pm_chat .message_text {
    font-size: 13px;
}

#pm_chat .message-my .content {
    margin-right: 60px;
    margin-left: 0;
    background: #FFF;
    border: 1px solid #DDD;
}

#pm_chat .content:before {
    position: absolute;
    top: 12px;
    left: -9px;
    display: inline-block;
    background: inherit;
    width: 16px;
    height: 16px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: inherit;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#pm_chat .message-my .content:before {
    right: -9px;
    left: auto;
    border-right: 1px solid;
    border-top: none;
    border-bottom: 1px solid;
    border-left: none;
    border-color: inherit;
}

.user_avatar {
    float: left;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 5px;
}

.user_avatar img {
    border-radius: 50%;
}

.message-my .user_avatar {
    float: right;
    margin-left: 10px;
}

#pm_contact .chat {
    position: relative;
    height: calc(100% - 189px);
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    line-height: 20px;
    background-color: #ecf0f1;
    box-sizing: border-box;
}

#pm_chat h3 {
    margin: 5px 0 10px 0;
    font-size: 12px;
    color: #828282;
    text-align: center;
}

#pm_chat .show-older + h3 {
    margin-top: 0;
}

#pm_contact .chat .message {
    margin-bottom: 10px;
    width: 100%;
    clear: both;
    position: relative;
}

#pm_contact .chat .message .title {
    font-size: 11px;
    overflow: hidden;
    margin-top: -4px;
}

#pm_contact .chat .message .title .author {
    color: #bf0000;
}

#pm_contact .chat .message-my .title .author {
    color: #376499;
}

#pm_contact .chat .message .title .date,
#pm_contact .chat .message .title .date-new {
    float: right;
}

#pm_contact .chat .message .title .date {
    color: #AAA;
}

#pm_contact .chat .message .title .date-new {
    color: #d35400;
}

#pm_contact .chat a.show-older {
    display: block;
    background: #bdc3c7;
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 15px;
}

#pm_contact .chat a.show-older:hover {
    background: #95a5a6;
}

#pm_contact .chat .older-loading {
    display: none;
    height: 25px;
    margin-bottom: 15px;
    background: url("../images/loader16.gif") no-repeat center center #EDEDED;
}

#pm_notices_window {
    width: 550px;
    overflow: auto;
    height: 100%;
}

#pm_notices_list {
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
}

#pm_notices_list .item {
    overflow: hidden;
    border: solid 1px #BDC3C7;
    background: #e1ebef;
    padding: 5px;
    color: #34495e;
    margin-bottom: 6px;
}

#pm_notices_list .item:last-child {
    margin-bottom: 0;
}

#pm_notices_list .item .date {
    color: #BDC3C7;
    font-size: 11px;
    padding-left: 10px;
    padding-top: 10px;
}

#pm_notices_list .item .content {
    padding: 10px;
    padding-top: 3px;
}

#pm_notices_list .item .close-button {
    float: right;
}

#pm_notices_list .item .close-button a {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/icons/close.png") no-repeat;
}

#pm_notices_list .item .close-button a:hover {
    background-position-x: -16px;
}

#pm_notices_list .item .buttons {
    padding: 10px;
    padding-top: 0;
}

#pm_notices_list .item .buttons .button {
    border-color: #BDC3C7;
}

#pm_notices_window > input.button {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
}

#pm_contact .smilepanel {
    position: absolute;
    bottom: 137px;
    background: #FFF;
    box-sizing: border-box;
    width: 80%;
    right: 0;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
}

/* City Selection Window ================================================= */

#geo_window {
    padding: 15px;
    height: 170px;
    width: 300px;
    box-sizing: border-box;
}

#geo_window .wrapper {
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}

#geo_window form > .list {
    margin: 0 0 10px 0;
}

#geo_window select {
    width: 100%;
    margin-bottom: 5px;
}

#geo_window .buttons {
    margin-top: 10px;
    text-align: center;
}

/* Login Form and Window ================================================= */

.login_form h3 {
    margin-top: 0;
}

.login_layout {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

.login_layout td {
    padding: 0;
}

.login_layout .center_cell {
    width: 60px;
    background: url("../images/vline1px.png") no-repeat center top;
}

.login_layout .center_cell div {
    text-align: center;
    padding: 15px 0;
    background: #FFF;
    font-size: 22px;
    font-style: italic;
    color: #A3CAE0;
    margin-top: 100px;
}

.login_form .label {
    color: #68809B;
    font-size: 16px;
}

.login_form .input {
    width: 100%;
}

.login_form .input:focus {
    box-shadow: 0 0 4px #BDC3C7;
}

.login_form .options {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 13px;
    color: #68809B;
    line-height: 14px;
    vertical-align: middle;
}

.login_form .options input,
.login_form .options label {
    vertical-align: middle;
}

.login_form .submit {
    margin: 0;
}

.login_form .reg_link {
    font-size: 13px;
    padding-left: 15px;
    color: #34495e;
}

.content_multi_cats_data {
    display: none;
}

.gif_image {
    display: block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.content_item .ft_images .gif_image {
    float: left;
    margin-right: 5px;
}

.gif_image img {
    display: block !important;
    margin: 0 !important;
}

.image_label {
    position: absolute;
    left: 4px;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 4px 7px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.micro_image, .micro_image > img {
    width: 32px !important;
    height: 32px !important;
}

.modal_image {
    position: relative;
    display: block;
}

.background_overlay {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    content: '';
    top: 0;
    left: 0;
}

.gif_image:hover .background_overlay {
    opacity: 0.5;
    z-index: 2;
}

.default_avatar {
    position: relative;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    display: block;
    background: no-repeat center;
    background-size: 1em;
}

.default_avatar img {
    opacity: 0;
    display: block;
}

.default_avatar:before {
    content: attr(data-letter);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.default_avatar.white_avatar_text:hover:after {
    background: #000;
    opacity: 0.4;
}

.default_avatar.black_avatar_text:after, .default_avatar.white_avatar_text:after {
    transition: all 0.5s ease;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.default_avatar.black_avatar_text:hover:after {
    background: #FFF;
    opacity: 0.2;
}

table.data_list {
    border-collapse: collapse;
    width: 100%;
}

table.data_list th {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-bottom: solid 1px #B3C2C9;
    text-align: left;
    background: #9DB1B9;
}

table.data_list td {
    padding: 5px 10px;
    background: #fff;
    color: #34495e;
    height: 20px;
    transition: background ease-in-out .15s;
}

table.data_list tr:nth-child(odd) td {
    background: #f9f9f9;
}

table.data_list tr:hover td {
    background: rgb(233, 246, 253);
}

table.data_list .empty {
    color: #B3C2C9;
}

table.data_list .actions {
    width: 70px;
}

.spinner {
    width: 70px;
    height: 40px;
    margin: -20px 0 0 -35px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #3498db;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@media screen and (max-height: 900px) {
    .layout {
        height: 595px;
    }
}

@media screen and (max-height: 640px) {
    .layout {
        height: 595px;
    }
}

@media screen and (max-height: 600px) {
    .layout {
        height: 545px;
    }
}

@media screen and (max-height: 480px) {
    .layout {
        height: 435px;
    }
}

@media screen and (max-height: 360px) {
    .layout {
        height: 315px;
    }
}

@media screen and (max-height: 335px) {
    .layout {
        height: 290px;
    }
}

@media screen and (max-height: 320px) {
    .layout {
        height: 275px;
    }
}

@media screen and (max-width: 800px) {
    #pm_window {
        width: 690px;
    }

    #pm_contact #contact_toggle {
        display: block;
    }

    #pm_window .right-panel {
        width: 100%;
        left: -700px;
        display: none;
    }

    #pm_window .left-panel {
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    #comments_widget #comments_refresh_panel {
        display: none;
    }

    #pm_contact .overview {
        position: relative;
        padding: 9px 0 9px 5px;
    }

    #pm_contact .actions {
        float: none;
        line-height: 50px;
        background-color: #fff;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 0 0 10px;
        box-sizing: border-box;
    }

    #pm_contact .actions.actions-active {
        display: block;
    }

    #pm_contact .toogle-actions {
        display: block;
        position: absolute;
        right: 9px;
        top: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        opacity: .7;
        background: #7f8c8d url("../images/icons32/menu-icon.svg") no-repeat center center;
        cursor: pointer;
        border-radius: 2px;
    }

    #pm_contact .toogle-actions.toogle-actions-active {
        opacity: 1;
        background-color: #d35400;
    }

    #pm_contact .overview .user_date_log {
        display: none !important;
    }

    .nyroModalMessage input.button-small {
        padding: 4px 7px;
        font-size: 12px;
    }
}

@media screen and (max-width: 335px) {
    #pm_window #pm_contact .markItUpHeader ul a {
        width: 14px !important;
        height: 14px !important;
    }

    #pm_contact .chat {
        height: calc(100% - 214px);
    }
}
