/* Global =================================================================== */
html, body {
    width: 100%;
    height: 100%;
}




/* The switch - the box around the slider */
.switch_self {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch_self input {display:none;}

/* The slider */
.slider_self {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_self:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_self {
  background-color: #2196F3;
}

input:focus + .slider_self {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_self:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider_self.round {
  border-radius: 34px;
}

.slider_self.round:before {
  border-radius: 50%;
}



.breadcrumb{
    font-size: 14px !important;
}
.row_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    color: #26a69a !important;
}a:hover{
     color: #004d40 !important;
 }
 nav a{
     color: #FAFAFA !important;
 }
 nav a:hover{
     color: #FAFAFA !important;
 }
 .card_league .card-content{
     background-color: #009688 !important;
 }
 .card-content a{
     color: #fafafa !important;
 }
 .card-content:hover{
     background-color: #004d40 !important;
 }
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #f9f9f9;
}
#slide-left, #slide-right{
    background-color: #FAFAFA !important;
}
.title{
    padding-top: 35px !important;
    height: initial !important;
    line-height:  initial !important;
    background:  initial !important;
    font-weight:  initial !important;
    color: #26a69a !important;
    text-align: center !important;
    font-size: 36px !important;
}
.title_league{
    padding-top: initial !important;
}
.side_icon{
    color: white !important;
}
.hidden {
    display: none !important;
}

.tabs {
    background-color: #f9f9f9 !important;
}

.table_header, .table_row {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.sidenav .collapsible-body{
    background-color: rgba(224,242,241, 0.4) !important;
}
.sidenav .collapsible-header:hover{
    background-color: rgba(224,242,241, 0.6) !important;
}
.sidenav li>a>i{
    color: #004d40 !important;
    font-size: 26px;
}
.sidenav a{
    color: #004d40 !important;
    font-size: 16px !important;
}
.h2{
    font-size: 18px;
}
.card-content{
    background-color: #fafafa !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}

.white-text {
    color: #FFFFFF !important;
}

.table_row a, .table_row div, .table_header div {
    width: 150px;
    padding: 0 !important;
}

.table_body div, .table_header_handi, .table_header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gradient-45deg-blue-indigo {
    background: #2962FF;
    background: -webkit-linear-gradient(45deg, #2962FF 0%, #3949ab 100%);
    background: linear-gradient(45deg, #2962FF 0%, #3949ab 100%);
}

.gradient-45deg-blue-indigo.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(57, 73, 171, 0.5);
}

.gradient-45deg-indigo-purple {
    background: #303f9f;
    background: -webkit-linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);
    background: linear-gradient(45deg, #303f9f 0%, #7b1fa2 100%);
}

.gradient-45deg-indigo-purple.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(123, 31, 162, 0.5);
}

.gradient-45deg-purple-deep-orange {
    background: #8e24aa;
    background: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
}

.gradient-45deg-purple-deep-orange.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
}

.min-height-100 {
    min-height: 100px !important;
}

.stat_card {
    display: inline-block;
    min-width: 300px;
    width: 30%;
}

.card-stats-title {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 1.5rem;
}

.card-stats-desc {
    font-size: 1rem;
}

.card-content {
    padding: 10px 14px;
    text-align: center;
}

/* Wrapper ================================================================== */

#layout {
    width: 980px;
    margin: 0 auto;
    will-change: blur;
}

#popup-manager.popup-show + #layout, .wrap_blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

/* Header =================================================================== */

#layout header {
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
}

#layout header #logo a, #layout header #logo > span {
    display: block;
    float: left;
    width: 180px;
    height: 50px;
}

/* Header Navigation ======================================================== */

header .menu,
header .menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
}

header .menu {
    float: right;
    position: relative;
    z-index: 15;
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
}

header .menu .item {
    background: no-repeat 5px center;
    padding-left: 28px;
}

header .menu > li {
    float: left;
    padding-left: 5px;
}

header .menu > li > a {
    display: block;
    padding: 0 5px;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 12px;
}

header .menu > li > a span.wrap > span.counter {
    margin: 0 0 0 5px;
}

header .menu > li > a span.wrap > span.counter:before {
    content: '(';
}

header .menu > li > a span.wrap > span.counter:after {
    content: ')';
}

header .menu > li > a:hover {
    color: #FFF;
}

header .menu > li.active > a {
    color: #F5CF53;
}

header .menu > li.active > a:hover {
    color: #F5CF53;
}

header .menu > li.active > ul a:hover {
    color: #EEE;
}

header .menu ul li a,
header .menu li.active ul li a {
    text-shadow: none;
    text-decoration: none;
    padding-right: 10px;
    font-size: 12px;
}

header .menu li ul li.active a {
    color: #F5CF53;
}

header .menu li ul li.active a:hover {
    color: #F5CF53;
}

header .menu li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

header .menu ul {
    visibility: hidden;
    position: absolute;
    top: 99%;
    left: -15px;
    z-index: 598;
    width: 100%;
    box-shadow: 0 1px 1px #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

header .menu ul li {
    float: none;
    border-bottom: solid 1px #224674;
    background-color: #224674;
    color: #FFF;
}

header .menu ul li:last-child {
    border-bottom: none;
}

header .menu ul li a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #A3CAE0;
}

header .menu ul li:hover > a {
    background-color: #224674;
    color: #FFF;
}

header .menu ul ul {
    top: 0;
    left: 90%;
}

header .menu li:hover > ul {
    visibility: visible;
}

header .menu ul {
    width: 250px;
}

header .menu ul li:last-child,
header .menu ul li:last-child a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

header .menu ul li:first-child,
header .menu ul li:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

header .menu > .folder a {
    padding-right: 8px;
}

.row .col {
    padding: initial !important;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    background: #444859;
    border-radius: 25px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #5f353e;
    border: 2px solid transparent;
    background-clip: content-box;
}

.sidenav::-webkit-scrollbar, .hmax80::-webkit-scrollbar {
    width: 0;
}

/* ie 10+ */
.sidenav, .hmax80 {
    -ms-overflow-style: none;
}

.collapsible.expandable li .collapsible-header.row {
    margin-bottom: initial;
}

.collapsible.expandable li .collapsible-body {
    margin-top: 20px;
}

.collapsible.expandable li:nth-child(2n), .collapsible.expandable li:nth-child(2n) > div {
    background: #e0f7fa;
}

/*
.collapsible.expandable li:nth-child(2n+1), .collapsible.expandable li:nth-child(2n+1) > div {
    background: radial-gradient(ellipse at left bottom, rgba(126, 211, 238, 1) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(ellipse at right bottom, rgb(255, 192, 127) 0%, rgba(254, 255, 255, 0) 60%),
    radial-gradient(ellipse at right, rgba(255, 55, 57, 1) 0%, rgba(255, 255, 255, 0) 90%),
    radial-gradient(ellipse at top right, rgba(255, 55, 57, 1) 0%, rgba(255, 255, 255, 0) 50%);
}
*{
    background: radial-gradient(ellipse at left bottom, rgba(126, 211, 238, 1) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(ellipse at right bottom, rgb(255, 192, 127) 0%, rgba(254, 255, 255, 0) 60%),
    radial-gradient(ellipse at right, rgba(255, 55, 57, 1) 0%, rgba(255, 255, 255, 0) 90%),
    radial-gradient(ellipse at top right, rgba(255, 55, 57, 1) 0%, rgba(255, 255, 255, 0) 50%) !important;
}
*/
/* фф (свойство больше не работает, других способов тоже нет)*/
.sidenav, .hmax80 {
    overflow: -moz-scrollbars-none;
}

table {
    width: 100%;
    display: block;
    min-width: 500px;
}

tbody, thead {
    display: block;
}

tbody {
    background-color: rgba(249, 250, 253, 0.8);
    color: #444859;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody tr {
    background-color: initial !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #ef5350;
}

tbody.hstc80 {
    height: 80%;
}

nav .brand-logo.center {
    font-weight: bold;
}

.divTab h3 {
    text-align: center;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

td {
    width: 20%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.collapsible-body {
    padding: initial !important;
}

@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
        display: block !important;
    }
}

main {
    margin: 0 auto;
}

/* Section ================================================================== */
body {
    overflow: scroll;
}

#body section {
    float: left;
    width: 730px;
}

#body section article {
    padding: 20px;
    background: #FFF;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

#body section h1 {
    margin-bottom: 20px;
    color: #34495e;
}

#body section h1 + .parent_title {
    font-size: 16px;
    margin: -10px 0 20px 0;
}

.item_group_title {
    padding: 0 0 0 25px;
}

/* Sidebar ================================================================== */

#body aside {
    float: right;
    width: 240px;
    margin-bottom: 10px;
}

/* Sidebar Navigation ======================================================= */

#body aside .menu, #body aside .menu li,
#body section .menu, #body section .menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #FFF;
    display: block;
}

#body aside .menu ul,
#body section .menu ul {
    border: solid 1px #EDEDED;
    border-bottom: none;
}

#body aside .menu {
    margin: -15px;
}

#body aside .menu li ul {
    visibility: hidden;
    position: absolute;
    top: -1px;
    left: auto;
    right: 91%;
    width: 220px;
    box-shadow: 0 1px 2px #666;
    z-index: 999;
}

#body aside .menu li {
    border-bottom: solid 1px #ecf0f1;
}

#body aside .menu li:hover,
#body aside .menu li.active,
#body section .menu li:hover,
#body section .menu li.active {
    position: relative;
    z-index: 2;
    cursor: default;
    background: #ecf0f1;
}

#body aside .menu li:last-child {
    border-bottom: none;
}

#body aside .menu li:hover > ul {
    visibility: visible;
}

aside .menu .item, section .menu .item {
}

#body aside .menu li.active .item,
#body section .menu li.active .item {
    color: #000;
}

#body aside .menu a,
#body aside .menu span.item,
#body section .menu a,
#body section .menu span.item {
    overflow: hidden;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px 10px 4px 36px;
}

#body aside .menu a:hover {
    color: #000;
}

#body aside .menu .counter,
#body section .menu .counter {
    float: right;
    padding: 0 7px;
    background: #376499;
    border-radius: 50px;
    font-size: 11px;
    color: white;
}

#body aside .menu li:hover .counter,
#body section .menu li:hover .counter {
    background: #BDC3C7;
}

/* Footer =================================================================== */

#layout footer {
    background: #34495E;
    height: 60px;
    color: #7f8c8d;
    padding: 0 15px;
    clear: both;
    font-size: 12px;
}

#layout footer ul, #layout footer li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#layout footer ul {
    overflow: hidden;
}

#layout footer ul li {
    height: 60px;
    line-height: 60px;
    float: left;
    margin-right: 15px;
}

#layout footer ul li:last-child {
    margin: 0;
}

#layout footer a {
    color: #95a5a6;
}

#layout footer a:hover {
    color: #ecf0f1;
}

#layout footer span.item {
    padding: 0 10px;
    border-left: solid 1px #7f8c8d;
}

/* Footer SQL Debug ======================================================== */

#debug_block {
    display: none;
}

.queries_wrap .query {
    padding: 10px;
    margin: 10px;
    background: #FFF;
    border: solid 1px #DDD;
}

.queries_wrap .query .src {
    font-size: 12px;
    color: #999;
}

.queries_wrap .query .debug_data {
    margin-top: 4px;
}

.queries_wrap .query_time {
    color: #999;
    font-size: 12px;
    margin: 4px 0 0;
}

.queries_wrap .red_query {
    color: #c0392b;
}

.queries_wrap .green_query {
    color: #27ae60;
}

#debug_widget.tabs-menu > ul {
    border-bottom: none;
    height: 32px;
    background: #B3C2C9;
    min-width: 600px;
}

#debug_widget.tabs-menu .tabbed li {
    background: none;
}

#debug_widget.tabs-menu .tabbed li a {
    border: none;
}

#debug_widget.tabs-menu .tabbed li a:not(:hover) {
    color: #EFEFEF;
}

#debug_widget.tabs-menu .tabbed li.active a, #debug_widget.tabs-menu .tabbed li.active a:hover {
    border: none;
    margin: 0;
    color: #495358;
}

#debug_widget ol {
    padding: 0;
    margin: 0;
}

/* Footer Navigation ======================================================== */

#layout footer #nav {
    float: right;
    margin-right: 0;
}

/* Site offline notice ====================================================== */

#site_off_notice {
    position: fixed;
    left: 15px;
    top: 15px;
    padding: 5px 10px 5px 28px;
    border: solid 1px red;
    color: red;
}

.modal_padding {
    padding: 10px;
    box-sizing: border-box;
}

.modal_padding h3, .modal_padding h2 {
    margin-top: 5px;
    white-space: nowrap;
}

/* Media Queries ============================================================ */

@media screen and (max-width: 980px) {
    #body section {
        width: 100% !important;
    }

    #body aside {
        float: none !important;
        overflow: hidden;
        width: 100%;
        clear: both;
    }
}

@media screen and (max-width: 800px) {
    #body section {
        width: 100% !important;
    }

    nav {
        padding: 5px;
        height: auto;
    }

    nav .menu {
        display: none;
    }

    nav select {
        position: relative;
        display: inline-block;
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #FFF;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 28px;
        line-height: 20px;
    }

    nav select option {
        color: #333;
        background: #FFF;
        transition: all 0.3s ease;
    }

    #layout footer #info {
        display: none !important;
    }
}

@media screen and (max-width: 640px) {
    .content_item .ft_images .first_type_images:first-child {
        float: none;
        clear: both;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .filter-panel .fields .field:nth-child(odd), .filter-panel .fields .field:nth-child(even) {
        float: none !important;
        width: 100%;
        margin-bottom: 10px;
    }

    .content_item .ft_images .first_type_images:first-child > img {
        width: 100%;
    }

    #layout header #logo {
        width: 200px;
    }

    .tabs-menu > ul {
        display: none;
    }

    .tabs-menu select {
        display: block !important;
    }

    .widget > .title {
        font-size: 14px !important;
    }

    .widget > .title .links {
        display: none;
    }

    .content_item .ft_image {
        float: none !important;
    }
}

@media screen and (max-width: 480px) {
    #layout footer #nav {
        display: none !important;
    }

    #breadcrumbs ul li:last-child {
        display: none;
    }

    h1 {
        font-size: 22px;
    }

    .content_list.featured .first .photo, .content_list.featured .first .fields, .content_list.tiled.albums_list .tile {
        width: 100% !important;
    }

    .content_list_item.second .photo, .content_list_item.second .first {
        float: none !important;
        margin-right: 0 !important;
    }

    .content_list.featured .first .ft_caption a {
        font-size: 21px !important;
    }

    .content_list_item .ft_caption .value {
        font-size: 18px !important;
    }
}