@font-face {
    font-family: 'fontello';
    src: url('../fonts/side_icons/fontello.eot?69012926');
    src: url('../fonts/side_icons/fontello.eot?69012926#iefix') format('embedded-opentype'),
    url('../fonts/side_icons/fontello.woff2?69012926') format('woff2'),
    url('../fonts/side_icons/fontello.woff?69012926') format('woff'),
    url('../fonts/side_icons/fontello.ttf?69012926') format('truetype'),
    url('../fonts/side_icons/fontello.svg?69012926#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
body {
    font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-variant: normal;
    font-size: 14px;
    color:#444;
}

a, a.ajaxlink { will-change: all; color: #2980b9; transition: background 0.15s linear, color 0.15s linear; }
a:hover, a.ajaxlink:hover { color: cyan; }

a.ajaxlink { text-decoration:none; border-bottom: dashed 1px #2980b9; }
a.ajaxlink:hover { text-decoration:none; border-bottom: dashed 1px #d35400; }

h1 { padding:0; margin-top:0px; margin-bottom: 10px; font-size:28px; }
h1 span { color:#BDC3C7; }
h1 a { color:#BDC3C7; }
h1 a:hover { color:#d35400; }h1, h2, h3, h4, h5, h6 { color:#34495e; font-weight: normal; margin-bottom: 10px; }

p { line-height:20px; }
p:first-child { margin-top: 0; }

pre {
    display:block;
    overflow: auto;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: inset 0 0 .5em #CCCCCC;
    padding: 10px;
    margin:0;
}

code pre {
    display:block;
    overflow: auto;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background: #F8F8F8;
    padding: 5px 15px;
    box-shadow: none;
    margin:0;
    font-size:12px;
    line-height:20px;
}


blockquote {
    padding:6px 10px;
    background:#F9F9F9;
    border-left:solid 4px #EDEDED;
    color:#666;
    font-style: italic;
    margin:0;
}

ul {
    margin:0 20px;
    padding:0;
}

.positive { color:green; }
.negative { color:red; }

.hide_tag {
    background:url("../images/icons/lock.png") no-repeat 5px center #e67e22;
    color: #fff;
    padding: 5px 10px 5px 25px;
    overflow: hidden;
}
.hide_billing {
    background:url("../images/icons/coin.png") no-repeat 5px center #3498db;
}
.user_field_denied {
    background-color: #7f8c8d;
}
.hide_tag_allow {
    border-left: 3px solid #e67e22;
    padding: 5px 0 5px 10px;
    overflow: hidden;
}